@font-face {
  font-family: 'Spectral SC';
  src: url('./SpectralSC-ExtraLight.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral SC';
  src: url('./SpectralSC-ExtraLightItalic.ttf') format('ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral SC';
  src: url('./SpectralSC-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral SC';
  src: url('./SpectralSC-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral SC';
  src: url('./SpectralSC-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral SC';
  src: url('./SpectralSC-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral SC';
  src: url('./SpectralSC-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral SC';
  src: url('./SpectralSC-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral SC';
  src: url('./SpectralSC-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral SC';
  src: url('./SpectralSC-SemiBoldItalic.ttf') format('ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral SC';
  src: url('./SpectralSC-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral SC';
  src: url('./SpectralSC-BoldItalic.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral SC';
  src: url('./SpectralSC-ExtraBold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral SC';
  src: url('./SpectralSC-ExtraBoldItalic.ttf') format('ttf');
  font-weight: 800;
  font-style: italic;
}
